<a href="https://colab.research.google.com/github/MLaxmanaan/Python/blob/main/day_11_functions_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
# simple function

def fun():
  print("Hello world")
  print("welcome")

print("before function call")
print(fun())
print("after function call")

before function call
Hello world
welcome
None
after function call

In [ ]:
# program to print the square of no

def square():
  x = int(input("enter a no"))
  y = x**2
  print("Square of",x,"is",y)

square()

enter a no5
Square of 5 is 25

In [ ]:
# membership operator

if 'b' not in 'apple':
  print("yes")
else:
  print("no")

yes

In [4]:
# count method

main_string = input("enter a string")
sub_string = input("enter a substring")

c = main_string.count(sub_string,0,3)
print(c)

enter a stringBangalore
enter a substringa
1

In [10]:
# startswith method

mobile_no = input("Enter mobile number with country code")

if mobile_no.startswith("9421", 4, 13):
  print("India Mumbai")
elif mobile_no.startswith("+1"):
  print("USA")

Enter mobile number with country code+91 9421964168
India Mumbai

In [13]:
# endswith method

url = input("Enter a URL")

if url.endswith(".com"):
  print("commercial website")

Enter a URLLakshmanan.M@nttdata.com
commercial website

In [14]:
# lstrip method

name = input("Enter your name")
print(name)

name = name.lstrip()
print(name)

Enter your name     M.LAXMANAAN
     M.LAXMANAAN
M.LAXMANAAN

In [16]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  #i = i.lstrip("http://www.")
  i = i.lstrip("htp:/w.")
  print(i)

myntra.com
ajio.com
cricbuzz.com

In [18]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]
for i in url:
  i = i.rstrip("htp.com")
  print(i)

http://www.myntra
http://www.aji
http://www.cricbuzz

In [24]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]
for i in url:
  i = i.strip("wwwhtp:/.cmo")
  print(i)

yntra
aji
ricbuzz

In [25]:
print(ord('a'))
print(ord('A'))
print(ord('c'))
print(ord('D'))

97
65
99
68

In [27]:
s1 = "AAanand"
s2 = "ABhijith"

if s1!=s2:
  print("s1 is greater")
else:
  print("s2 is greater")

s1 is greater

In [30]:
# replace method

s1 = "I live in Mumbai, Mumbai is a beautiful place"

s1.replace("Mumbai","Bangalore")

'I live in Bangalore, Bangalore is a beautiful place'

In [31]:
# find method

s1 = "I live in Mumbai, Mumbai is a beautiful place"

res = s1.find("Mumbai")

print(res)

10

In [32]:
# rfind method

s1 = "I live in Mumbai, Mumbai is a beautiful place"

res = s1.rfind("Mumbai")

print(res)

18

In [35]:
# split method

s = "I live in Mumbai"

w = "India, USA, Australia"

k = w.split()

print(k)

['India,', 'USA,', 'Australia']

In [44]:
s = "I live in Mumbai, Mumbai is a beautiful place"

n = 0
cnt = 0
r = 0

while r != -1:
  r = s.find("Mumbai", n)
  n = r + 1
  if r!= -1:
    cnt = cnt + 1
print(cnt)

2