<a href="https://colab.research.google.com/github/MLaxmanaan/Python/blob/main/day_11_functions_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
# simple function

def fun():
  print("Hello world")
  print("welcome")

print("before function call")
print(fun())
print("after function call")

before function call
Hello world
welcome
None
after function call

In [ ]:
# program to print the square of no

def square():
  x = int(input("enter a no"))
  y = x**2
  print("Square of",x,"is",y)

square()

enter a no5
Square of 5 is 25

In [ ]:
# membership operator

if 'b' not in 'apple':
  print("yes")
else:
  print("no")

yes

In [ ]:
# count method

main_string = input("enter a string")
sub_string = input("enter a substring")

c = main_string.count(sub_string,0,3)
print(c)

enter a stringBangalore
enter a substringa
1

In [ ]:
# startswith method

mobile_no = input("Enter mobile number with country code")

if mobile_no.startswith("9421", 4, 13):
  print("India Mumbai")
elif mobile_no.startswith("+1"):
  print("USA")

Enter mobile number with country code+91 9421964168
India Mumbai

In [ ]:
# endswith method

url = input("Enter a URL")

if url.endswith(".com"):
  print("commercial website")

Enter a URLLakshmanan.M@nttdata.com
commercial website

In [ ]:
# lstrip method

name = input("Enter your name")
print(name)

name = name.lstrip()
print(name)

Enter your name     M.LAXMANAAN
     M.LAXMANAAN
M.LAXMANAAN

In [ ]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  #i = i.lstrip("http://www.")
  i = i.lstrip("htp:/w.")
  print(i)

myntra.com
ajio.com
cricbuzz.com

In [ ]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]
for i in url:
  i = i.rstrip("htp.com")
  print(i)

http://www.myntra
http://www.aji
http://www.cricbuzz

In [ ]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com"]
for i in url:
  i = i.strip("wwwhtp:/.cmo")
  print(i)

yntra
aji
ricbuzz

In [ ]:
print(ord('a'))
print(ord('A'))
print(ord('c'))
print(ord('D'))

97
65
99
68

In [ ]:
s1 = "AAanand"
s2 = "ABhijith"

if s1!=s2:
  print("s1 is greater")
else:
  print("s2 is greater")

s1 is greater

In [ ]:
# replace method

s1 = "I live in Mumbai, Mumbai is a beautiful place"

s1.replace("Mumbai","Bangalore")

'I live in Bangalore, Bangalore is a beautiful place'

In [ ]:
# find method

s1 = "I live in Mumbai, Mumbai is a beautiful place"

res = s1.find("Mumbai")

print(res)

10

In [ ]:
# rfind method

s1 = "I live in Mumbai, Mumbai is a beautiful place"

res = s1.rfind("Mumbai")

print(res)

18

In [ ]:
# split method

s = "I live in Mumbai"

w = "India, USA, Australia"

k = w.split()

print(k)

['India,', 'USA,', 'Australia']

In [ ]:
s = "I live in Mumbai, Mumbai is a beautiful place"

n = 0
cnt = 0
r = 0

while r != -1:
  r = s.find("Mumbai", n)
  n = r + 1
  if r!= -1:
    cnt = cnt + 1
print(cnt)

2

In [ ]:
# list

l1 = [10,20,3.14,"NTT Data", 2+3j,[100,200,300]]
print(l1)
print(type(l1))

print(l1[0], l1[-2])

[10, 20, 3.14, 'NTT Data', (2+3j), [100, 200, 300]]
<class 'list'>
10 (2+3j)

In [ ]:
# slicing in list

l1 = [10,20,3.14,"NTT Data", 2+3j,[100,200,300]]

print(l1[0:4])
print(l1[0:4:2])
print(l1[::])
print(l1[::-1])

[10, 20, 3.14, 'NTT Data']
[10, 3.14]
[10, 20, 3.14, 'NTT Data', (2+3j), [100, 200, 300]]
[[100, 200, 300], (2+3j), 'NTT Data', 3.14, 20, 10]

In [ ]:
# concatenation of list

l1 = [10,20,30]
l2 = [50,60,70]

l3 = l1 + l2

print(l1)
print(l2)
print(l3)

print(id(l1))
print(id(l2))
print(id(l3))

[10, 20, 30]
[50, 60, 70]
[10, 20, 30, 50, 60, 70]
136547865139776
136547300657920
136547300653056

In [ ]:
# multiplication of list

l1 = [10, 20, 30]
l2 = l1 * 3

print(l1*2)
print(l2)

[10, 20, 30, 10, 20, 30]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
# iteration of list

l1 = [10, 20, 30, 40, 50]

for i in l1:
  print(i+5)

15
25
35
45
55

In [ ]:
# membership operator

print(100 in [10,20,30,40])

False

In [ ]:
print(100 not in [100,20,30,40])

False

In [ ]:
# deletion of a list

l1 = [10, 20, 30, 40]

print(l1)

del l1

print(l1)

[10, 20, 30, 40]

NameError: name 'l1' is not defined

In [ ]:
# inbuilt functions
# max()

l1 = [10, 200, 3, 500, 80]
print(max(l1))

l2 = ["aaa", "bbbb", "ccc"]
print(max(l2))

l3 = [10, 20, "nttdata"]

l4 = ["aaa", "bbbb", "cccasdv"]
print(max(l4, key = len))

l5 = []
print(max(l5, default = 0))

500
ccc
cccasdv
0

In [ ]:
# append method

l1 = [10, 20, 30, 40]

l1.append(50)
l1.append([1,2,3])

print(l1)

[10, 20, 30, 40, 50, [1, 2, 3]]

In [ ]:
l1 = [10, 20, 30, 40, 50]

for i in range(6) :
  i1 = int(input("Enter a no"))
  l1.append(i1)
  i = i + 1
print(l1)

Enter a no60
Enter a no70
Enter a no80
Enter a no90
Enter a no100
Enter a no110
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [ ]:
# extend method

l1 = [10, 20, 30]
l2 = [40, 50, 60]

l1.extend(l2)
l1.extend([70, 80, 90, 100])

print(l1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# insert method

l1 = [10, 20, 30, 40, 50, 60]

l1.insert(0, 1000)
l1.insert(3, 2000)

print(l1)

[1000, 10, 20, 2000, 30, 40, 50, 60]

In [ ]:
# remove method

l1 = [10, 10, 20, 30, 40]

l1.remove(10)

print(l1)

[10, 20, 30, 40]

In [ ]:
# pop method

l1 = [10, 20, 30, 40]

result = l1.pop()

print(result)
print(l1)

result = l1.pop(2)

print(result)
print(l1)

40
[10, 20, 30]
30
[10, 20]

In [ ]:
# clear method

l1 = [10, 20, 30]

print(l1)

l1.clear()

print(l1)

[10, 20, 30]
[]

In [ ]:
l1 = [10, 20, 10, 30, 20, 45]

print(len(l1))

del l1[2:5:2]

print(l1)

6
[10, 20, 30, 45]

In [ ]:
l1 = [10, 20, 10, 30, 20, 45]

l = len(l1)

l2 = []

for i in range(l):
  if l1[i] not in l2:
    l2.append(l1[i])

print(l2)

[10, 20, 30, 45]

In [ ]:
l1 = [10, 20, 10, 30, 20, 45]

l2 = []

for i in l1:
  if i not in l2:
    l2.append(i)

print(l1)
print(l2)

[10, 20, 10, 30, 20, 45]
[10, 20, 30, 45]

In [ ]:
l1 = [10, 20, 10, 30, 20, 45, 45]

m1 = max(l1)

while m1 in l1:
  l1.remove(m1)

m2 = max(l1)

print(m2)

30

In [ ]:
# list() method

l1 = list()
print(l1)
print(type(l1))

[]
<class 'list'>

In [ ]:
s = "NTT DATA"

l2 = list(s)

print(l2)

['N', 'T', 'T', ' ', 'D', 'A', 'T', 'A']

In [ ]:
l3 = list(range(1, 6))

print(l3)

[1, 2, 3, 4, 5]

In [ ]:
l1 = [2, 3, 3, 4, 4, 4, 2, 6, 7, 8, 6]

ul1 = []

cl1 = []

for i in l1:
  if i not in ul1:
    ul1.append(i)

for i in ul1:
  count = 0
  for j in l1:
    if j == i:
      count = count + 1
  cl1.append(count)

print(ul1)
print(cl1)

[2, 3, 4, 6, 7, 8]
[2, 2, 3, 2, 1, 1]

In [ ]:
l1 = [2, 3, 3, 4, 4, 4, 2, 6, 7, 8, 6]

ul1 = []

cl1 = []

for i in l1:
  if i not in ul1:
    ul1.append(i)
    cl1.append(1)
  else:
    ind = ul1.index(i)
    cl1[ind] = cl1[ind] + 1

print(ul1)
print(cl1)

[2, 3, 4, 6, 7, 8]
[2, 2, 3, 2, 1, 1]

In [ ]:
l1 = [2, 3, 3, 4, 4, 4, 2, 6, 7, 8, 6]

ul1 = []

cl1 = []

for i in l1:
  if i not in ul1:
    ul1.append(i)
    cl1.append(l1.count(i))

print(l1)
print(ul1)
print(cl1)

[2, 3, 3, 4, 4, 4, 2, 6, 7, 8, 6]
[2, 3, 4, 6, 7, 8]
[2, 2, 3, 2, 1, 1]

In [ ]:
# Tuples

t1 = (1,2,3,4,3.1,[4,5,6],(7,7,8))
print(t1)
print(type(t1))

(1, 2, 3, 4, 3.1, [4, 5, 6], (7, 7, 8))
<class 'tuple'>

In [ ]:
# tuple() method

s = "NTT DATA"
t2 = tuple(s)

print(t2)

l1 = [10, 20, 30]
t3 = tuple(l1)

print(t3)

l5 = list(t3)
print(l5)

('N', 'T', 'T', ' ', 'D', 'A', 'T', 'A')
(10, 20, 30)
[10, 20, 30]

In [ ]:
# tuple with a single element

t5 = (6)

print(t5)
print(type(t5))

6
<class 'int'>

In [ ]:
# tuple with a single element

t5 = (6,)

print(t5)
print(type(t5))

(6,)
<class 'tuple'>

In [ ]:
i = 5

t6 = tuple(i)

print(t6)

TypeError: 'int' object is not iterable

In [5]:
# Dictionary

d1 = {"name" : "Ram", "age" : 30, "city" : "Blr"}
print(d1)
print(type(d1))
print(d1.keys())
print(d1.values())
print(d1.items())

{'name': 'Ram', 'age': 30, 'city': 'Blr'}
<class 'dict'>
dict_keys(['name', 'age', 'city'])
dict_values(['Ram', 30, 'Blr'])
dict_items([('name', 'Ram'), ('age', 30), ('city', 'Blr')])

In [7]:
# create a dictionary

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

print(d1)
print(type(d1))

print(d1[2])
print(d1[10])

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
100
500

In [8]:
d2 = {'aa' : 100,
      'bb' : 200,
      'cc' : 300}

print(d2)

print(d2['cc'])

{'aa': 100, 'bb': 200, 'cc': 300}
300

In [10]:
d3 = { 3 : [1, 2, 3],
       6 : (4, 5, 6),
       9 : "NTT"}

print(d3)
print(d3[3])
print(d3[6])
print(d3[9])

{3: [1, 2, 3], 6: (4, 5, 6), 9: 'NTT'}
[1, 2, 3]
(4, 5, 6)
NTT
{3: [1, 2, 3], 6: (4, 5, 6), 9: 'NTT'}
[1, 2, 3]
(4, 5, 6)
NTT

In [12]:
d4 = {(1, 2) : 100,
      (3, 4) : 200,
      (5, 6) : 300}

print(d4)
print(d4[(1, 2)])

{(1, 2): 100, (3, 4): 200, (5, 6): 300}
100

In [14]:
d4 = {3.14 : 100,
      (3, 4) : 200,
      "hi" : 300}

print(d4)
print(d4["hi"])

{3.14: 100, (3, 4): 200, 'hi': 300}
300

In [1]:
# iterating through a dictionary

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

for key1 in d1:
  print(key1)

2
4
6
8
10

In [2]:
# iteration on values

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

for value in d1.values():
  print(value)

100
200
300
400
500

In [3]:
# iteration on items

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

for item in d1.items():
  print(item)

(2, 100)
(4, 200)
(6, 300)
(8, 400)
(10, 500)

In [4]:
d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

for key in d1:
  print(d1[key])

100
200
300
400
500

In [5]:
d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

for xx, yy in d1.items():
  print(xx)
  print(yy)

2
100
4
200
6
300
8
400
10
500

In [8]:
# membership operator in dictionary

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

if 2 in d1:
  print("2 is present")

if 10 not in d1:
  print("10 is not present")

2 is present

In [10]:
# inbuilt methods

# keys()

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

keys = d1.keys()
print(keys)
print(type(keys))

l1 = list(keys)
print(l1)
print(type(l1))

dict_keys([2, 4, 6, 8, 10])
<class 'dict_keys'>
[2, 4, 6, 8, 10]
<class 'list'>

In [11]:
# values()

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

val = d1.values()
print(val)
print(type(val))

dict_values([100, 200, 300, 400, 500])
<class 'dict_values'>

In [13]:
# items()

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

items = d1.items()
print(items)
print(type(items))

dict_items([(2, 100), (4, 200), (6, 300), (8, 400), (10, 500)])
<class 'dict_items'>

In [16]:
# get()

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

val = d1.get(4)
print(val)
print(type(val))

val = d1.get(10, 0)
print(val)

val = d1.get(12, 0)
print(val)

200
<class 'int'>
500
0

In [20]:
# pop()

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

val = d1.pop(8)
print(val)
print(d1)

val = d1.pop(8, 1000)
print(val)
print(d1)

400
{2: 100, 4: 200, 6: 300, 10: 500}
1000
{2: 100, 4: 200, 6: 300, 10: 500}

In [24]:
# update()

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

d2 = {20 : 1000,
      30 : 2000}

d1.update(d2)
print(d1)

d1.update({2 : 10000, 200 : 20000})
print(d1)

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500, 20: 1000, 30: 2000}
{2: 10000, 4: 200, 6: 300, 8: 400, 10: 500, 20: 1000, 30: 2000, 200: 20000}

In [25]:
d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
      2 : 500}

print(d1)

{2: 500, 4: 200, 6: 300, 8: 400}

In [26]:
# clear()

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

print(d1)
d1.clear()
print(d1)

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
{}

In [28]:
# shallow copy

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

d2 = d1.copy()

print(d1)
print(d2)

print(id(d1))
print(id(d2))

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
136982968401728
136982968549056

In [32]:
d3 = {1 : [1, 2, 3],
      2 : [4, 5, 6],
      3 : [7, 8, 9]}

d4 = d3.copy()

print(d3)
print(d4)

print(id(d3))
print(id(d4))

d4 = d3

print(id(d3))
print(id(d4))

{1: [1, 2, 3], 2: [4, 5, 6], 3: [7, 8, 9]}
{1: [1, 2, 3], 2: [4, 5, 6], 3: [7, 8, 9]}
136983386994432
136983385347776
136983386994432
136983386994432

In [33]:
# deepcopy()

import copy

d1 = {2 : 100,
      4 : 200,
      6 : 300,
      8 : 400,
     10 : 500}

d2 = copy.deepcopy(d1)

print(d1)
print(d2)

print(id(d1))
print(id(d2))

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
136982968546944
136982968541440

In [34]:
# fromkeys()

keys = [1, 2, 3, 4, 5]
d1 = dict.fromkeys(keys, 2000)
print(d1)

{1: 2000, 2: 2000, 3: 2000, 4: 2000, 5: 2000}

In [36]:
k = [1, 2, 3, 4, 5]
v = [10, 20, 30, 40, 50]

d1 = dict(zip(k, v))

print(d1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [45]:
s = "I live in Bengaluru, Bengaluru is called Garden city and it is a beautiful place"

# {'I' : 1, 'live' : 1, 'in' : 1, 'Bengaluru' : 2, 'is' : 2, 'called' : 1, 'Garden' : 1, 'city' : 1, 'and' : 1, 'it' : 1, 'beautiful' : 1, 'place' : 1}

lw = s.split(sep=None, maxsplit=-1)

print(lw)

lu = [ ]

lc = [ ]

for i in lw:
  if i not in lu:
    lu.append(i)
    lc.append(1)
  else:
    pos = lu.index(i)
    lc[pos] = lc[pos] + 1

print(lu)
print(lc)

d1 = dict(zip(lu, lc))
print(d1)

['I', 'live', 'in', 'Bengaluru,', 'Bengaluru', 'is', 'called', 'Garden', 'city', 'and', 'it', 'is', 'a', 'beautiful', 'place']
['I', 'live', 'in', 'Bengaluru,', 'Bengaluru', 'is', 'called', 'Garden', 'city', 'and', 'it', 'a', 'beautiful', 'place']
[1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1]
{'I': 1, 'live': 1, 'in': 1, 'Bengaluru,': 1, 'Bengaluru': 1, 'is': 2, 'called': 1, 'Garden': 1, 'city': 1, 'and': 1, 'it': 1, 'a': 1, 'beautiful': 1, 'place': 1}